.App--wrapper {
  background: #1E213A;
  padding-top: 18px;
}

@media (min-width: 1125px) {

  .App--container {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 100px;
  }
}





