.App--wrapper {
  background: #1E213A;
  margin-top: -0.5rem;
}

/* .App--sub--wrapper {
  background-image: url('../images/Cloud-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 29%;
  /* opacity: 0.4; */
/* } */

@media (min-width: 1125px) {

  .App--container {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 100px;
  }
}





