.App--wrapper {
  background: hsl(234, 32%, 17%);
  margin-top: -0.5rem;
  position: relative;
  width: 100%;
}

.weather--container,
.weatherToday--container {
  width: 100%;
  position: relative;
}

@media (min-width: 1125px) {

  .App--container {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 100px;
  }
}





