body {
  background-color: #020826;
  color: #E7E7EB;
  font-family: Raleway;
  font-style: normal;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

fieldset,
button {
  border-color: transparent;
}

button,
input {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
}

img {
  width: 30%;
}
