.form {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form--container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.form__input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  width: auto;
  height: 44px;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --opacity: 1;
  color: rgba(231, 231, 235, var(--opacity));
  border: 2px rgba(160, 159, 177, var(--tw-border-opacity));
  background-color: rgba(30, 33, 58, var(--opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-width: 2px;
  --opacity: 1;
  border-color: rgba(160, 159, 177, var(--opacity));
  border-style: solid;
}

.form__btn {
  font-family: sans-serif;
  background: #3c47e9;
  font-size: 16px;
  line-height: 24px;
  color: #e7e7eb;
  font-weight: 500;
  text-transform: capitalize;
  height: 44px;
  width: 84.66px;
}

.close--pannel {
  background-color: transparent;
  text-align: right;
  color: #e7e7eb;
  font-size: 18px;
  line-height: 17px;
  width: 100%;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 20px;
}

.cities--wrapper {
  display: flex;
  flex-direction: column;
}

.close--pannel:focus {
  background-color: transparent;
}

.btn--seacrh--city {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: left;
  padding-left: 12px;
  --tw-text-opacity: 1;
  color: rgba(231, 231, 235, var(--tw-text-opacity));
  padding: 1rem;
  margin-top: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: none;
  background-color: transparent;
  text-align: left;
}

.btn--seacrh--city:hover {
  border: 1px solid;
  --tw-border-opacity: 0.5;
  border-color: rgba(231, 231, 235, var(--tw-border-opacity));
}

@media (min-width: 1125px) {
  .search--city {
    position: unset;
  }
}
