
.form {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search--city {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: auto;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.form--container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.form__input {
  width: auto;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-text-opacity: 1;
  color: rgba(231,231,235,var(--tw-text-opacity));
  border: 2px rgba(160,159,177,var(--tw-border-opacity));
}

.form__input,
.btn--seacrh--city {
  border: 1px solid #E7E7EB;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 15px;
  color: #616475;
  background-color: transparent;
  height: 44px;
}

.form__btn {
  font-family: sans-serif;
  background: #3C47E9;
  font-size: 16px;
  line-height: 24px;
  color: #E7E7EB;
  font-weight: 500;
  text-transform: capitalize;
  height: 44px;
  width: 84.66px;
}

.close--pannel {
  background-color: transparent;
  text-align: right;
  color: #E7E7EB;
  font-size: 18px;
  line-height: 17px;
  width: 100%;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 20px;
}

.cities--wrapper {
  display: flex;
  flex-direction: column;
}

.close--pannel:focus {
  background-color: transparent;
}

.btn--seacrh--city {
  margin-top: 58px;
  text-align: left;
  padding-left: 12px;
}

@media (min-width: 1125px) {

  .btn--seacrh--city {
    width: 100%;
  }

  .search--city {
    position: unset;
  }

}


