.header {
  padding-top: 42px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__btn,
.header__btn--search {
  --opacity: 1;
  background-color: rgba(136, 134, 157, var(--opacity));
  cursor: pointer;
  text-align: center;
  border-color: transparent;
}

.header__btn--search {
  border-radius: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(231, 231, 235, var(--opacity));
  font-size: inherit;
  font-family: inherit;
  line-height: 24px;
}

.header__btn {
  border-radius: 9999px;
  width: 40px;
  height: 40px;
}
