.heading2 {
  margin-top: 3.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
}

.weather--highlight--container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
  text-align: center;
  margin-top: 2rem;
}

.weather--highlight--wrapper {
  --tw-bg-opacity: 1;
  background-color: rgba(30, 33, 58, var(--tw-bg-opacity));
}

.weather__headings {
  margin-top: 1rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.weather--value--wrapper {
  margin-top: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.weather--value {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.weather--direction--wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.weather--direction--icons--wrapper {
  --tw-bg-opacity: 1;
  background-color: rgba(160, 159, 177, var(--tw-bg-opacity));
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress--wrapper {
  width: 16rem;
  margin: auto;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.progress--value {
  width: 91.666667%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress__image--wrapper {
  width: 91.666667%;
  margin-top: 0.25rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(231, 231, 235, var(--tw-bg-opacity));
}

.progress-bar {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 236, 101, var(--tw-bg-opacity));
  height: 0.5rem;
  border-radius: 0.25rem;
}

.percentage {
  width: 100%;
  text-align: right;
  margin-top: 0.25rem;
}

@media (min-width: 640px) {
  .weather--highlight--container {
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
