.weather--highlight--wrapper {
  padding-top: 22px;
  padding-bottom: 35px;
}

.weather__heading3 {
  font-weight: 500;
  color: #E7E7EB;
}

/* .weather--speed--wrapper, */
.weather--visibility--wrapper,
.weather--air--pressure--wrapper,
.weather--humidity--wrapper,
.progress--value,
.progress--wrapper,
.weather--direction--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.progress--value {
  display: flex;
  justify-content: space-around;
}

.progress--wrapper {
  flex-direction: column;
  align-items: center;
}

.weather--speed--direction {
  font-size: 14px;
  line-height: 16px;
  color: #E7E7EB;
  margin-top: 32px;
  margin-bottom: 0;
}

.weather--speed,
.weather--humidity,
.weather--visibility,
.weather--air--pressure,
.weather--speed--unit,
.weather--humidity--unit,
.weather--visibility--unit,
.weather--air--pressure--unit {
  color: #E7E7EB;
}

.percentage,
.weather__label,
.weather--speed,
.weather--humidity,
.weather--visibility,
.weather--air--pressure {
  font-size: 50px;
  font-weight: bold;
}

.percentage,
.weather__label {
  font-size: 12px;
  line-height: 14px;
  color: #A09FB1;
}

.weather--speed--unit,
.weather--humidity--unit,
.weather--visibility--unit,
.weather--air--pressure--unit {
  color: #A09FB1;
  font-size: 30px;
  margin-left: 06px;
}

progress {
  -webkit-appearance: none;
  width: 71%;
}

::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 80px;
}

::-webkit-progress-value {
  background-color: #FFEC65;
  border-radius: 80px;
}

.percentage {
  text-align: right;
  width: 70%;
}

.compass-icon {
  position: relative;
  top: 6.5px;
}

/* Compass rotation */
.compass-N {
  transform: rotate(0deg);
}
.compass-NNE {
  transform: rotate(22deg);
}
.compass-NE {
  transform: rotate(45deg);
}
.compass-ENE {
  transform: rotate(67deg);
}
.compass-E {
  transform: rotate(90deg);
}
.compass-ESE {
  transform: rotate(120deg);
}
.compass-SE {
  transform: rotate(135deg);
}
.compass-SSE {
  transform: rotate(157deg);
}
.compass-S {
  transform: rotate(180deg);
}
.compass-SSW {
  transform: rotate(202deg);
}
.compass-SW {
  transform: rotate(225deg);
}
.compass-WSW {
  transform: rotate(247deg);
}
.compass-W {
  transform: rotate(270deg);
}
.compass-WNW {
  transform: rotate(292deg);
}
.compass-NW {
  transform: rotate(315deg);
}
.compass-NNW {
  transform: rotate(337deg);
}

.weather--direction--wrapper {
  flex-direction: row-reverse;
}

.weather--direction--icons--wrapper {
  background-color:rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 29.49px;
  height: 29.49px;
  text-align: center;
  margin-right: 5.71px;
}

@media (min-width: 1125px) {

  .weather--highlight--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .weather--highlight--wrapper {
    padding-top: 22px;
    padding-bottom: 41px;
    flex-basis: calc(calc(100% / 2) - 32px);
  }

  .weather--speed,
  .weather--humidity,
  .weather--visibility,
  .weather--air--pressure {
    font-size: 64px;
  }

  .weather--speed--unit,
  .weather--humidity--unit,
  .weather--visibility--unit,
  .weather--air--pressure--unit {
    font-size: 40px;
  }

}
