
.weather--today--container {
  padding-top: 29px;
  background: #1E213A;
}

.weather--today--wrapper {
  text-align: center;
  padding-top: 76px;
  text-align: center;
}

.weather--name,
.weather--date,
.weather--city {
  color: #A09FB1;
}

.weather--name {
  font-size: 36px;
}

.weather--date
.weather--city {
  font-size: 18px;
}

.weaterTod--title--wrapper {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 52px;
}

.weather--city {
  margin: 0;
}

/* .weather--city::before {
  content: '';
  display: block;
  background-image: url(../icons/location.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
} */

@media (min-width: 1125px) {

    .weather--temp {
    font-size: 144px;
    margin-top: 40px;
    margin-bottom: 23px;
  }

}

