.weatherToday--container {
  position: relative;
  width: 100%;
}

.weatherToday--wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgba(30,33,58,var(--tw-bg-opacity));
}

.weatherToday--wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  height: 100%;
  opacity: .05;
  z-index: 0;
  background: url(../images/Cloud-background.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.weatherToday__image {
  width: 10rem;
}

.weather--temp {
  font-size: 6rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(231,231,235,var(--tw-text-opacity))
}

.weather--name {
  --tw-text-opacity: 1;
  color: rgba(136,134,157,var(--tw-text-opacity));
  text-align: center;
  margin-top: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.weatherToday--subWrapper {
  width: 10rem;
  padding-bottom: 2rem;
}

.date--wrapper,
.title--wrapper {
  display: flex;
  align-items: center;
}

.date--wrapper {
  width: 100%;
  justify-content: space-between;
}

.date--wrapper:first-child,
.weather--city {
  --tw-text-opacity: 1;
  color: rgba(136,134,157,var(--tw-text-opacity));
}

.title--wrapper {
  padding-top: 1rem;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
