
.weather--today--container {
  padding-top: 29px;
  background: #1E213A;
}

.weather--today--wrapper {
  text-align: center;
  padding-top: 76px;
  text-align: center;
}

.weather--temperature--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 87px;
  margin-bottom: 87px;
}

.weather--name,
.weather--date,
.weather--city {
  color: #A09FB1;
}

.weather--name {
  font-size: 36px;
}

.weather--date
.weather--city {
  font-size: 18px;
}

.weather--name,
.weather--city {
  font-weight: 600;
}

.weaterTod--title--wrapper {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 52px;
}

.weather--name {
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}

.weather--name {
  font-weight: 500;
}

.weather--temp {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
}

.weather--temp--unit {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #A09FB1;
}

@media (min-width: 1125px) {

  .weather--temp {
    font-size: 80px;
    /* margin-top: 40px;
    margin-bottom: 23px; */
  }

  .weather__img--today {
    width: 202px;
    height: 234px;
  }

}

