.temp--units--container {
  text-align: right;
}

.weathers--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather--wrapper--contents {
  background: #1E213A;
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 800px) {

  .weather--wrapper--contents {
    flex-basis: calc(calc(100% / 5) - 26);
  }

}
